.main-bg {
    background-image: url("src/assets/images/bg-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.left-bg {
    background-image: url("src/assets/images/bg-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.right-bg {
    background-image: url("src/assets/images/bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}