<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
  <div class="modal-content">

    <div class="modal-body p-0">

      <div class="container-fluid">

        <div class="row">
          <div class="col-7 cart-bg"></div>

          <div class="col-5 p-3">

            <div class="row">
              <div class="col-12">
                <p class="d-inline">Your cart</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <i class="d-inline ti ti-close float-right mr-1" style="font-size: 16px;"></i>
                </button>
                <hr class="mt-2">
              </div>
            </div>

            <div class="row mt-3" *ngFor="let product of cartService.cartProducts">
              <div class="col-4 pr-0">
                <div class="item-image" [ngStyle]="{'background-image': getImageUrl(product.image.url)}"></div>
              </div>

              <div class="col-6">
                <div class="row">
                  <div class="col-12">
                    <p class="d-inline">{{product.name}}</p>
                  </div>
                </div>

                <div class="mt-1">
                  <span class="button-circle text-center"> - </span>
                  <p class="d-inline mx-4">1</p>
                  <span class="button-circle text-center"> + </span>
                </div>
              </div>

              <div class="col-2">
                <p class="d-inline float-right">{{product.price}}€</p>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-7 pr-0">
                <input type="text" class="form-control rounded-0" placeholder="Promocode">
              </div>
              <div class="col-5">
                <button class="btn btn-block btn-outline-dark rounded-0">Apply</button>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-12">
                <hr class="mb-1">
                <p class="d-inline">Tax</p>
                <p class="d-inline float-right mb-0">{{cartService.tax}}€</p>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <hr class="mb-1">
                <p class="d-inline">Total</p>
                <p class="d-inline float-right"> {{cartService.totalPrice()}}€</p>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-12">
                <button routerLink="/checkout" class="btn btn-block btn-dark rounded-0" data-dismiss="modal">Checkout</button>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>

  </div>
</div>