<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
  <div class="modal-content">

    <!-- <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> -->

    <div class="modal-body">

      <div class="container-fluid">

        <div class="row">
          <div class="col-7"></div>

          <div class="col-5">

            <div class="row">
              <div class="col-12">
                <p class="d-inline">Your cart</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <i class="d-inline ti ti-close float-right mr-1" style="font-size: 16px;"></i>
                </button>
                <hr class="mt-2">
              </div>
            </div>

            <div class="row">
              <div class="col-3">
                <img src="assets/images/item-1.jpg" class="border" height="80" alt="">
              </div>

              <div class="col-9">
                <div class="row">
                  <div class="col-12">
                    <p class="d-inline">Name</p>
                    <p class="d-inline float-right">13,80€</p>
                  </div>
                </div>
                <div>
                  <span class="button-circle text-center"> - </span>
                  <p class="d-inline mx-4">N</p>
                  <span class="button-circle text-center"> + </span>
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-3">
                <img src="assets/images/item-1.jpg" class="border" height="80" alt="">
              </div>

              <div class="col-9">
                <div class="row">
                  <div class="col-12">
                    <p class="d-inline">Name</p>
                    <p class="d-inline float-right">13,80€</p>
                  </div>
                </div>
                <div>
                  <span class="button-circle text-center"> - </span>
                  <p class="d-inline mx-4">N</p>
                  <span class="button-circle text-center"> + </span>
                </div>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-7 pr-0">
                <input type="text" class="form-control rounded-0" placeholder="Promocode">
              </div>
              <div class="col-5">
                <button class="btn btn-block btn-outline-dark rounded-0">Apply</button>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-12">
                <hr class="mb-1">
                <p class="d-inline">Tax</p>
                <p class="d-inline float-right mb-0"> 3,50€</p>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <hr class="mb-1">
                <p class="d-inline">Total</p>
                <p class="d-inline float-right"> 23,50€</p>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-12">
                <button class="btn btn-block btn-dark rounded-0" data-dismiss="modal">Checkout</button>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>


    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div> -->

  </div>
</div>