<div class="container mt-5 p-0">

  <div class="row mt-3">
    <div class="col-12">
      <h3>Catalog title</h3>
    </div>
  </div>

  <div class="row text-center font-weight-bold">
    <div class="col-3 p-0">
      <div class="w-100 item-image"></div>
      <p class="m-0">this flower bkala mld</p>
      <p>13,80€</p>
    </div>
    <div class="col-3 p-0">
      <div class="w-100 item-image"></div>
      <p class="m-0">this flower bkala mld</p>
      <p>13,80€</p>
    </div>
    <div class="col-3 p-0">
      <div class="w-100 item-image"></div>
      <p class="m-0">this flower bkala mld</p>
      <p>13,80€</p>
    </div>
    <div class="col-3 p-0">
      <div class="w-100 item-image"></div>
      <p class="m-0">this flower bkala mld</p>
      <p>13,80€</p>
    </div>
    <div class="col-3 p-0">
      <div class="w-100 item-image"></div>
      <p class="m-0">this flower bkala mld</p>
      <p>13,80€</p>
    </div>
    <div class="col-3 p-0">
      <div class="w-100 item-image"></div>
      <p class="m-0">this flower bkala mld</p>
      <p>13,80€</p>
    </div>
    <div class="col-3 p-0">
      <div class="w-100 item-image"></div>
      <p class="m-0">this flower bkala mld</p>
      <p>13,80€</p>
    </div>
    
  </div>

  <div class="row text-center mt-5">
    <div class="col-12">
      <button class="btn btn-dark rounded-0" style="width: 200px;">Load more</button>
    </div>
  </div>
</div>