<div class="container mt-5 p-0">

  <div class="row mt-3">
    <div class="col-12">
      <h3>{{this.capitalizeFirstLetter(this.title)}}</h3>
    </div>
  </div>

  <div class="row text-center">

    <div *ngFor="let product of products" class="col-3" [routerLink]="['/product', product.id]">
      <div class="w-100 item-image" [ngStyle]="{'background-image': getImageUrl(product.image.url)}"></div>
      <p class="m-0">{{product.name}}</p>
      <p class="font-weight-bold">{{product.price}}€</p>
    </div>

  </div>

  <div class="row text-center mt-5">
    <div class="col-12">
      <button class="btn btn-dark rounded-0" style="width: 200px;">Load more</button>
    </div>
  </div>
</div>