<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Products</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Product</th>
                  <th scope="col">Price</th>
                  <th scope="col">Stock</th>                
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                        <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg">
                      </a>
                      <div class="media-body">
                        <span class="mb-0 text-sm">Argon Design System</span>
                      </div>
                    </div>
                  </th>
                  <td>
                    $2,500 USD
                  </td>
                  <td>
                    5 articles
                  </td>
                  <td class="text-right">
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-success"><i class="ni ni-check-bold text-white"></i></button>
                      <button type="button" class="btn btn-danger"><i class="ni ni-fat-remove text-white"></i></button>
                      <button type="button" class="btn btn-warning"><i class="ni ni-send text-white"></i></button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer py-4">
            <button type="button" class="btn btn-primary float-right"
            data-toggle="modal" data-target="#productModal">Add product</button>
          </div>
        </div>
      </div>
    </div>
  </div>  