<div class="container mt-2 p-0">
  <div class="row">

    <div class="col-3">
      <i class="ti ti-location-pin">Algeria</i>
    </div>

    <div routerLink="/" class="col-6 text-center">
      <h4 class="font-weight-bold">Flower store</h4>
    </div>

    <div class="col-3">
      <a class="float-right" type="button" data-toggle="modal" data-target="#cartModal">
        <i class="ti ti-shopping-cart ml-3" style="color: black;"></i>
      </a>
      <i class="ti ti-search float-right"></i>
    </div>

  </div>

  <div class="row mt-4 text-center">
    <div class="col-12">
      <div *ngFor="let element of menu" [routerLink]="element.route" class="d-inline mx-3 font-weight-bold">
        {{element.name}}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" 
     id="cartModal" 
     tabindex="-1" 
     role="dialog" 
     aria-labelledby="exampleModalLabel" 
     aria-hidden="true">

     <app-cart></app-cart>
</div>