<div class="container mt-5 p-0">

  <div class="row">
    <div class="col-12">
      <div class="d-inline-block">
        <h4>New</h4>
      </div>
      <div class="d-inline-block float-right">
        <i class="ti ti-arrow-left mr-3"></i>
        <i class="ti ti-arrow-right"></i>
      </div>
    </div>
  </div>

  <div class="row text-center font-weight-bold">
    <div class="col-3 p-0">
      <div class="w-100 item-image"></div>
      <p class="m-0">this flower bkala mld</p>
      <p>13,80€</p>
    </div>
    <div class="col-3 p-0">
      <div class="w-100 item-image"></div>
      <p class="m-0">this flower bkala mld</p>
      <p>13,80€</p>
    </div>
    <div class="col-3 p-0">
      <div class="w-100 item-image"></div>
      <p class="m-0">this flower bkala mld</p>
      <p>13,80€</p>
    </div>
    <div class="col-3 p-0">
      <div class="w-100 item-image"></div>
      <p class="m-0">this flower bkala mld</p>
      <p>13,80€</p>
    </div>
    
  </div>
</div>