<div class="container">
  <div class="row mt-5">

    <div class="col-6">
      <div class="w-100 product-image" [ngStyle]="{'background-image': getImageUrl(product.image.url)}"></div>
    </div>

    <div class="col-6">

      <div class="container pl-5">

        <div class="row">
          <div class="col-12">
            <h5>{{product.name}}</h5>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <h4 class="d-inline mr-3">{{product.price}}€</h4>
            <p *ngIf="product.discount" class="d-inline text-muted" style="text-decoration: line-through;">old price</p>
            <hr class="mt-2">
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-12">
            <p>Count: </p>
            <div>
              <span class="button-circle text-center"> - </span>
              <p class="d-inline mx-4">1</p>
              <span class="button-circle text-center"> + </span>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-12">
            <p>Color: </p>
            <div>
              <span class="color-circle mr-2"></span>
              <span class="color-circle mr-2"></span>
              <span class="color-circle mr-2"></span>
              <span class="color-circle mr-2"></span>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-6 pr-0">
            <button class="btn btn-block btn-dark"
                    (click)="addToCart()">Add to cart</button>
          </div>
          
          <div class="col-6">
            <button class="btn btn-outline-dark">
              <i class="ti ti-heart"></i>
            </button>
          </div>
        </div>

        <div class="mt-5">
          <div class="row mt-1">
            <div class="col-12">
              <p class="d-inline">Something</p>
              <i class="d-inline ti ti-angle-down float-right mr-1"></i>
              <hr class="mt-2">
            </div>
          </div>
  
          <div class="row mt-1">
            <div class="col-12">
              <p class="d-inline">Something</p>
              <i class="d-inline ti ti-angle-down float-right mr-1"></i>
              <hr class="mt-2">
            </div>
          </div>
  
          <div class="row mt-1">
            <div class="col-12">
              <p class="d-inline">Something</p>
              <i class="d-inline ti ti-angle-down float-right mr-1"></i>
              <hr class="mt-2">
            </div>
          </div>
        </div>
        

      </div>
    </div>
  </div>
</div>

<div style="height: 50px;"></div>

<app-list [products]="recomended"></app-list>