<div class="container-fluid mt-5 bg-dark py-3">
  <div class="row text-center text-white">
    <div class="col-12">
      <i class="ti ti-facebook" style="font-size: 30px;"></i>
      <i class="ti ti-instagram ml-3" style="font-size: 30px;"></i>
      <i class="ti ti-youtube ml-3" style="font-size: 30px;"></i>
      <i class="ti ti-twitter ml-3" style="font-size: 30px;"></i>
    </div>
  </div>
</div>



<!-- <div class="row text-center mb-5">
    <div class="col-12">

      <div class="container mt-5">
        <div class="row">

          <div class="col-4">
            <ul class="list-inline">
              <li class="text-white mb-2">Discover</li>
              <li class="text-white mb-2">TV Shows</li>
              <li class="text-white mb-2">Movies</li>
            </ul>
          </div>

          <div class="col-4">
            <ul class="list-inline">
              <li class="text-white mb-2">Discover</li>
              <li class="text-white mb-2">TV Shows</li>
              <li class="text-white mb-2">Movies</li>
            </ul>
          </div>

          <div class="col-4">
            <ul class="list-inline">
              <li class="text-white mb-2">Discover</li>
              <li class="text-white mb-2">TV Shows</li>
              <li class="text-white mb-2">Movies</li>
            </ul>
          </div>

        </div>
      </div>

    </div>
  </div> -->