<div class="container mt-5 p-0">

  <div class="row mt-3">
    <div class="col-12">
      <h3>Checkout</h3>
    </div>
  </div>

  <div class="row mt-5">

    <!-- Left side -->
    <div class="col-6">
      <div class="container-fluid p-0">

        <!-- Steps bar -->
        <!-- <div class="row">
          <div class="col-4">
            <span class="text-center step-circle mr-2"> 1 </span>
            <p class="d-inline">Contacts</p>
          </div>
          <div class="col-4">
            <span class="text-center step-circle mr-2"> 2 </span>
            <p class="d-inline">Shipping</p>
          </div>
          <div class="col-4">
            <span class="text-center step-circle mr-2"> 3 </span>
            <p class="d-inline">Payment</p>
          </div>
        </div> -->

        <div class="row">
          <div class="col-12">
            <h5>Contacts</h5>

            <div class="container-fluid mt-3 p-0">
              <div class="row">
                <div class="col-6">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="First name">
                  </div>
                </div>

                <div class="col-6">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Last name">
                  </div>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-12">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Email">
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="row mt-5">
          <div class="col-12">
            <h5>Delivry method</h5>

            <div class="border mt-3 p-3">
              <div class="d-inline-block custom-control custom-radio">
                <input type="radio" class="custom-control-input">
                <label class="custom-control-label" for="customRadio1">Title</label>
              </div>
              <p class="d-inline-block float-right">Price</p>
            </div>

            <div class="border mt-3 p-3">
              <div class="d-inline-block custom-control custom-radio">
                <input type="radio" class="custom-control-input">
                <label class="custom-control-label" for="customRadio1">Title</label>
              </div>
              <p class="d-inline-block float-right">Price</p>
            </div>

          </div>
        </div>

        <div class="row mt-5">
          <div class="col-12">
            <h5>Delivry Address</h5>

            <div class="container-fluid mt-3 p-0">
              <div class="row">
                <div class="col-4">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="City">
                  </div>
                </div>

                <div class="col-8">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Address">
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="row mt-5">
          <div class="col-12">
            <h5>Date & time</h5>

            <div class="container-fluid mt-3 p-0">
              <div class="row">
                <div class="col-7">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Tomorrow">
                  </div>
                </div>

                <div class="col-5">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="20:00 - 21:00">
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="row mt-5">
          <div class="col-12">
            <h5>Payment</h5>

            <div class="container-fluid mt-3 p-0">
              <div class="row">
                <div class="col-7">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Card number">
                  </div>
                </div>

                <div class="col-5">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="key">
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <hr class="mt-5">

        <div class="row">
          <div class="col-6">
            <button class="btn btn-block btn-light">Reset</button>
          </div>
          <div class="col-6">
            <button class="btn btn-block btn-dark">Pay</button>
          </div>
        </div>

      </div>
    </div>

    <div class="col-1"></div>

    <!-- Right side -->
    <div class="col-5">
      <div class="container border p-3">
        <div class="row">
          <div class="col-12">
            <h5>Order total</h5>
            <!-- <hr class="mt-2"> -->
          </div>
        </div>

        <div class="row mt-3" *ngFor="let product of cartService.cartProducts">
          <div class="col-4 pr-0">
            <div class="item-image" [ngStyle]="{'background-image': getImageUrl(product.image.url)}"></div>
          </div>

          <div class="col-6">
            <div class="row">
              <div class="col-12">
                <p class="d-inline">{{product.name}}</p>
              </div>
            </div>

            <div class="mt-1">
              <span class="button-circle text-center"> - </span>
              <p class="d-inline mx-4">1</p>
              <span class="button-circle text-center"> + </span>
            </div>
          </div>

          <div class="col-2">
            <p class="d-inline float-right">{{product.price}}€</p>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-12">
            <hr class="mb-1">
            <p class="d-inline">Tax</p>
            <p class="d-inline float-right mb-0"> {{cartService.tax}}€</p>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <hr class="mb-1">
            <p class="d-inline">Total</p>
            <p class="d-inline float-right"> {{cartService.totalPrice()}}€</p>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>